#projectContainer{
  min-height: 100vh;
  padding-top: 5rem;
}

.project-button{
  color: aliceblue;
  background-color: #c3073f;
  border-radius: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.project-button:hover{
  color: aliceblue;
  background-color: #c3073f;
  border-radius: 0px;

}

.showcase-img{
  /* height: "350px" */
  height: 100%;
  width: 100%;
}

/* BREAKPOINTS */

/* small */
@media (min-width: 576px) {
}

/* medium */
@media (min-width: 768px) {
}

/* large */
@media (min-width: 992px) {
  .showcase-img{
    /* height: "350px" */
    height: 100%;
    width: 100%;
  }
}